{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "google",
  ],
  rules: {
    "max-len": ["error", 120],
    "require-jsdoc": "off",
    "comma-dangle": "off",
    "no-console": "off"
  }
}
